<%- include("partials/header") %>
<div class="container">
	<div class="landingrow row">
		<!-- <div class="landing col-12"><a href="/illustrations">ILLUSTRATIONS</a></div> -->
		<div class="landing col-12"><a href="/photography">PHOTOGRAPHS</a></div>
		<div class="landing col-12"><a href="/animations">ANIMATIONS</a></div>

		 <div class="landing col-12"><a href="/videography">VIDEOS</a></div>
 
		<div class="landing col-12"><a href="/projects">PROJECTS</a></div>

		<!-- <div class="landing col-12"><a href="/graphicdesigns">GRAPHIC DESIGNS</a></div>
		<div class="landing col-12"><a href="/websites">WEBSITES</a></div>
	</div>  -->

</div>



<%- include("partials/footer") %>
