 <%- include("partials/header") %>
 

<!-- <div id="hypetest1_hype_container" class="HYPE_document" style="margin:auto;position:relative;width:600px;height:400px;overflow:hidden;">
		<script type="text/javascript" charset="utf-8" src="/images/hype%20test1.hyperesources/hypetest1_hype_generated_script.js?76742"></script>
	</div>
 -->

<div class="container">
	<div class="landingrow row">
		<!-- <div class="landing col-12"><a href="/illustrations">ILLUSTRATIONS</a></div> -->
		<div class="landing col-12"><a href="/photography">PHOTOGRAPHS</a></div>
		<div class="landing col-12"><a href="/animations">ANIMATIONS</a></div>

		 <div class="landing col-12"><a href="/videography">VIDEOS</a></div>
 
		<div class="landing col-12"><a href="/projects">PROJECTS</a></div>

		<!-- <div class="landing col-12"><a href="/graphicdesigns">GRAPHIC DESIGNS</a></div>
		<div class="landing col-12"><a href="/websites">WEBSITES</a></div>
	</div>  -->

     </div>
</div>



<%- include("partials/footer") %>
