<%- include("partials/header") %>

<nav class="navbar fixed-top d-flex">
	   <a class="homeButton nav-item active px-xl-5" href="/"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>
Back</a>
</nav>

<div class="container">
	<div style="height:6rem; width:100%">
    </div>
	
	<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dKh4KUEYg2Q"></iframe>
    </div>
	
	<div style="height:10rem; width:100%">
    </div>
	
	<div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/C1yWuBoiHAU"></iframe>
    </div>
</div>



<%- include("partials/footer") %>
